@font-face {
  font-family: "total";
  src: url("./fonts/BMDOHYEON_ttf.ttf");
  /* 중복이라 나중에 제거하는 게 나을수도 */
}

.SimRes {
  text-align: center;
}

.title {
  margin: 60px;
}

.couple-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

/* 이미지 스타일 */
.img {
  max-width: 100%;
  height: auto;
}

/* 이름 스타일 */
.SR-name {
  font-size: 18px; /* 이름 글자 크기 설정 */
  margin-top: 10px; /* 이미지와 이름 간격 설정 */
  color: #333; /* 이름 글자 색상 설정 */
  font-weight: bold; /* 이름 글자 굵게 설정 */
}

.similarity {
  font-size: 18px; /* 이름 글자 크기 설정 */
  color: #333; /* 이름 글자 색상 설정 */
  font-weight: bold; /* 이름 글자 굵게 설정 */
}

.photo-image-container {
  display: flex;
  flex-direction: column; /* 컴포넌트를 세로로 나열 */
  justify-content: center; /* 컴포넌트를 수직 가운데로 정렬 */
  align-items: center; /* 컴포넌트를 수평 가운데로 정렬 */
}
